#https://github.com/github/gitignore/blob/master/Python.gitignore   gitignore boiler plate
__pycache__/
static/
media/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.vscode/
.idea/
settings.py