{% extends 'master.html' %}

{% block title %}
    <title>Want to watch Movies & TV series</title>
{% endblock %}

{% block head %}
    <style>
    #navwatchlist {
        color:#fff;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <button class="btn btn-outline-primary btn-block" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true">Watchlist (<span id='watch_id_count' count="{{watchlist_data|length}}">{{watchlist_data|length}}</span>)</button>
            <hr>
            <div class="collapse show" id='collapseExample'>
                <table class='table'>
                    <tbody>
                    {% for data in watchlist_data %}
                    <tr id='watchlist_{{forloop.counter}}'>
                        <td><img style=" width: 60px; " src="{{data.ypdb_poster}}" alt="{{data.ypdb_title}}"></td>
                        <td> 
                            <a href="/ypdb/view/?t={{data.ypdb_title}}&id={{data.ypdb_id}}"> {{data.ypdb_title}} </a> 
                        </td>
                        <td>
                            <button id='button_watch_{{forloop.counter}}' class="button_remove btn btn-light"  watch_id="{{data.watchlist_id}}">Remove</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $('.button_remove').click(function(){
        let watch_id = $(this).attr("watch_id");
        let row_id = $(this.parentNode.parentNode).attr("id");
        let watch_count = document.getElementById('watch_id_count').innerText;
        watch_count = watch_count-1;
        $.ajax(
            {
                type:"GET",
                url:"{% url 'ajaxremovewatchlist' %}",
                data:{
                    watchid: watch_id,
                },
                success: function(data){
                    document.getElementById(row_id).setAttribute("style", "display: none;");
                    document.getElementById('watch_id_count').innerHTML = watch_count;
                    console.log(data["status"]);
                }
            }
        );
    })
    </script>
{% endblock %}