{% extends 'master.html' %}

{% block title %}
    <title>Want to watch Movies & TV series</title>
{% endblock %}

{% block head %}
    <style>
    #navwatchlist {
        color:#fff;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <button class="btn btn-outline-dark btn-block" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true">Watchlist ({{watchlist_data|length}})</button>
            <div class="collapse show" id='collapseExample'>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in watchlist_data %}
                    <tr id='watchlist_{{forloop.counter}}'>
                        <td>{{forloop.counter}}</td>
                        <td> 
                            <a href="/ypdb/view/?t={{data.ypdb_title}}&id={{data.ypdb_id}}"> {{data.ypdb_title}} </a> 
                        </td>
                        <td>
                            <button id='button_watch_{{forloop.counter}}' class="button_remove btn btn-light"  watched_id='{{data.watch_id}}'>Remove</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $('.button_remove').click(function(){
        button_id = $(this).attr("id");
        row_id = $(this.parentNode.parentNode).attr("id");
        console.log(button_id +" "+row_id);
    })
    </script>
{% endblock %}