{% extends 'login/master.html' %}
{% block content %}

<br>
<div class='container'>

<form action="test/"  method="POST">
  {% csrf_token %}
  	<div class="form-group">
	    <input class="form-control" placeholder="yourmail@example.com" name="email" type="text">
	</div>
	<div class="form-group">
		<input class="form-control" placeholder="Password" name="password" type="password" value="">
	</div>
	<div class="checkbox">
    	<label>
    		<input name="remember" type="checkbox"> Remember Me
    	</label>
    </div>
	<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
	</form>

</div>
{% endblock %}