{% extends 'master.html' %}
{% block content %}
<div class="container">
<div class="row">
    {% load static %}
    {% if data.user_image  %}
    <div class="col-sm-3">
        <img src="{{data.user_image.url}}" style="height:100px;width:100px;" alt="nahi hai">
    </div>
    {% endif %}
    
    <div class="col-sm-9"><br>
Name : {{data.user_name}}
<br>
Email : {{data.user_email}}
<br>
Gender : {{data.user_gender}}
<br>
Mobile : {{data.user_mobile}}
<br>
Date of Birth : {{data.user_dob}}
<br>
Description : {{data.user_description}}
<br>
<br></div>
</div>

<a class='btn btn-primary' href="/login/updateprofile/">Update</a>
</div>


{% endblock %}