{% extends 'master.html' %}

{% block content %}

<br>
<div class='container'>
	{% comment %} 
	Getting messages from view to display here
	https://docs.djangoproject.com/en/2.2/ref/contrib/messages/ 
	{% endcomment %}
	{% if messages %}
	    {% for message in messages %}
		<div class="alert alert-info alert-dismissible">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong {% if message.tags %} class="{{ message.tags }}"{% endif %} >! </strong>{{ message }}
		</div>
	    {% endfor %}
	{% endif %}
	<div class="jumbotron col-sm-6">
	<br>
	<h3>Register</h3>
		<form action="/login/registered/"  method="POST">
	  		{% csrf_token %}
	  		<div class="form-group">
			    <input class="form-control" placeholder="Full name" name="name" type="text">
			</div>
	  		<div class="form-group">
			    <input id="emailid" class="form-control" placeholder="yourmail@example.com" name="email" type="text">
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="Password" name="password" type="password" value="">
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="Confirm Password" name="confirmpassword" type="password" value="">
			</div>
	    	<div class="checkbox">
	    		<label>
	    			<input name="remember" type="checkbox"> I agree to all terms & conditions.
	    		</label>
	    	</div>
			<input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
		</form>
	</div>
</div>

{% endblock  %}

{% block js %}
<script>
//https://stackoverflow.com/questions/6153047/detect-changed-input-text-box
var timerid;
$("#emailid").on("input", function(e) {
  var value = $(this).val();
  if ($(this).data("lastval") != value) {

    $(this).data("lastval", value);
    clearTimeout(timerid);

    timerid = setTimeout(function() {
    //your change action goes here 
	var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
	if(value.match(mailformat))
	{
		console.log("SAHI HAI");
	}
    console.log(value);
    }, 500);
  };
});
</script>
{% endblock %}