{% extends 'master.html' %}
{% block content %}

{% if messages %}
    {% for message in messages %}
	
	<div class="alert alert-info alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>!</strong>{% if message.tags %} <!--class="{{ message.tags }}"-->{% endif %}{{ message }}
	</div>
	
    {% endfor %}
{% endif %}

<div class="col-md-3">
<form action="/login/updateuserdata/" method='POST'>
{% csrf_token %}
{{forms.as_p}}
<input class="btn btn-primary" type="submit" value="Update">
</form>
</div>

{% endblock %}
