{% extends 'master.html' %}

{% block content %}

{% if request.session.user_email == '' %}

<div class='container'>
    <div class="form-group">
        <h1><span id="typed"></span></h1>
    </div>
</div>
{% else %}

<div class="container">
    <h1>Hello {{request.session.user_email}}</h1>  
</div>
<div class="container">
   <h3 class="pb-3 mb-4 font-italic border-bottom">
      Find awesomeness below
   </h3>

<div>
<div>
    <div class = 'row'>
    {% for obj in datas|slice:"0:" %}
        <div class="col-md-2">
         <div class="card mb-2">
            <img class="card-img-top "  src="{{obj.ypdb_poster}}" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">{{obj.ypdb_title}}</h5>
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>--> 
               <a href="/ypdb/view/?t={{obj.ypdb_title}}" class="btn btn-outline-dark btn-sm">Read more</a>
            </div>
         </div>
      </div>
        <!--<div class='col-md-3'>{{ obj }}</div>-->

    {# if the the forloop counter is divisible by 4, close the <li> tag and open a new one #}
    {% if forloop.counter|divisibleby:6 %}
    
    {% endif %}

    {% endfor %}
    </div>
</div>
</div>

</div>
<div>

</div>

{% endif %}
    <br>
{% endblock %}