{% extends 'master.html' %}

{% block content %}



<div class="container">
<a href="/">Go home</a>
<hr>
<div class="row">
    <div class="col-md-3">
    <div class="text-center">
        <img src="{{datas.Poster}}" class="img-thumbnail img-fluid" alt="...">
        <hr>
        <div>

        <button id="watched"
        {% if watched_status == 1 %}
        class="ypdbactivity btn btn-success btn-block" ajaxurl="/activity/watched/">
        Remove Watched
        {% else %}
        class="ypdbactivity btn btn-primary btn-block" ajaxurl="/activity/watched/">
        Add to Watched
        {% endif %}
        </button>
        <button href="#" id="watch" 
        {% if watchlist_status == 1 %}
        class="ypdbactivity btn btn-success btn-block" ajaxurl="/activity/watch/">
        Remove Watch
        {% else %}
        class="ypdbactivity btn btn-primary btn-block" ajaxurl="/activity/watch/">
        Add to Watch
        {% endif %}
        </button>
    
        
        {% comment %} <input type='button' id="watched" class="btn btn-primary btn-block my=2" value="Add to Watched" onclick="watched()">
        <input type='button' id="addtowatch" class="btn btn-success btn-block" value="Add to Watchlist" onclick="addtowatch()"> {% endcomment %}
        </div>
        
    </div>
    </div>
    <div class="col-md-9" style="padding-left:25px;">
    <div class="row"><h2>Title :{{datas.Title}}</h2></div>
    <div class="row"><h4>Released : {{datas.Released}}</h4></div>
    <div class="row">Runtime : {{datas.Runtime}} ({{datas.Language}})</div>
    <div class="row">IMDb rating : {{datas.imdbRating}}</div>
    {% if datas.totalSeasons %}
        <div class="row">Seasons : {{datas.totalSeasons}}</div>
    {% endif %}
    <div class="row">Actors : {{datas.Actors}}</div>
    <div class="row">Genre : {{datas.Genre}}</div>
    <div class="row">Plot : {{datas.Plot}}</div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    
    </div>
</div>

    
    
    {% comment %} {% for key,value in datas.items %}
        <div class="row">
        <div class="col-sm-3">{{key}}</div>
        <div class="col-sm-9">{{value}}</div>
        </div>
    {% endfor %}  {% endcomment %}
    
</div>

{% endblock %}



{% block js %}
<script type="text/javascript">
$('.ypdbactivity').click(function(){
    var tid;//movie id to send
    var var_url;//url to which i have written my function
    var button_id;//id of the button that is clicked
    tid = {{ypdb_id}};//accessing from django jinja template
    button_id = $(this).attr("id");
    var_url = $(this).attr("ajaxurl");
    $.ajax(
        {
            type:"GET",
            url:var_url,
            data:{
                 tid: tid,
            },
            success: function( data ){
                document.getElementById(button_id).setAttribute("class", data["cssClass"]);
                document.getElementById(button_id).innerHTML=data["innerHTML"];
            }
        }
    )
})
</script>
{% endblock %}